.body {
	background: #68aadc;
}

.container {
	display: block;
	height: calc(100% - 64px);
}

.container::-webkit-scrollbar {
	display: none;
}

.background {
	display: block;
}

.character {
	position: absolute;
	bottom: 30px;
}

.back {
	scale: -1 1;
}

.grass {
	background: url('/grass.jpg');
	background-size: 200px;
	height: 64px;
}

.sky {
	background: url('/sky.jpg');
	background-size: auto 700px;
	background-repeat: repeat-x;
	background-position: bottom;
	background-attachment: local;
}
