.screen {
	position: relative;
	height: 400px;
}

.container::-webkit-scrollbar {
	display: none;
}

.background {
	display: block;
}

.character {
	position: absolute;
	bottom: 40px;
}

.back {
	scale: -1 1;
}

.grass {
	background: url('/grass.jpg');
	background-size: 200px;
	height: 64px;
}

.sky {
	background: url('/office1.png');
	background-size: auto 100%;
	background-repeat: repeat-x;
	background-position: bottom;
	background-attachment: local;
}
