.body {
	background: #68aadc;
}

.container {
	touch-action: none;
}

.container::-webkit-scrollbar {
	display: none; /* Older Safari and Chromium */
}

.character {
	position: absolute;
	right: 50%;
	bottom: 0;
	translate: 50% -40%;
}

.jump {
	animation: jump 2s;
}

.grass {
	background: url('/grass.jpg');
	background-size: 200px;
}

.sky {
	background: url('/sky.jpg');
	background-size: auto 700px;
	background-repeat: repeat-x;
	background-position: bottom;
	background-attachment: local;
}

@keyframes jump {
	0% {
		translate: 50% -40%;
	}

	30% {
		translate: 50% -40%;
	}

	60% {
		translate: 50% -65%;
	}

	80% {
		translate: 50% -40%;
	}

	100% {
		translate: 50% -40%;
	}
}
